.info {
  display: grid;
  grid-template-areas:
    "position period"
    "companyWrapper city";

  margin-bottom: 10px;

  .position {
    grid-area: position;
    font-weight: 700;
  }

  .period {
    grid-area: period;
    font-style: italic;
  }

  .companyWrapper {
    grid-area: companyWrapper;
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  .city {
    grid-area: city;
    font-style: italic;
  }
}

.link {
  text-decoration: underline #abaaaa;
}
