.root {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  padding: 15px 15px 0 40px;

  color: #ffffff;

  background-color: var(--basic-color);

  @media (max-width: 680px) {
    align-items: stretch;
    padding: 15px;
  }
}

.mainTitle {
  font-size: 36px;
}

.subtitle {
  font-size: 22px;
}
