.mainContent {
  grid-area: content;

  padding-top: 15px;
  padding-right: calc(10px + (40 - 10) * ((100vw - 1110px) / (1440 - 1110)));
  padding-left: 15px;
  padding-bottom: 20px;

  background-color: var(--accent-second-light-color);

  @media (max-width: 1110.9px) {
    padding-right: 10px;
  }
}