.contactsList {
  @media (max-width: 680px) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 20px;
  }
}

.title {
  &::before {
    background-color: var(--accent-first-dark-color);
  }
}

.listLink,
.location {
  display: inline-flex;
  align-items: center;
  column-gap: 15px;

  svg {
    height: 50%;
    width: auto;
  }
}
