.aboutWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  padding: 10px;
  background-color: #fff;
  border-radius: 12px;
}

.aboutInfo {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.aboutLink {
  position: relative;

  padding-bottom: 3px;

  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 2px;

    background-color: var(--accent-second-color);

    transition: width 0.3s linear;
  }

  @media (hover: hover) {
    &:hover {
      &::after {
        animation: 1s alternate underline;
      }
    }
  }

  &:active {
    color: var(--accent-second-color);

    &::after {
      width: 0;
    }
  }
}

@keyframes underline {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.blockWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.experienceInfo {
  display: grid;
  grid-template-areas:
    "position period"
    "company city";

  margin-bottom: 10px;
  .position {
    grid-area: position;
    font-weight: 700;
  }

  .period {
    grid-area: period;
    font-style: italic;
  }

  .company {
    grid-area: company;
  }

  .city {
    grid-area: city;
    font-style: italic;
  }
}

.aboutList {
  padding-left: 30px;
}

.aboutSubList {
  padding-left: 25px;
}
